node_modules
dist
.dev.vars

# staticパスにプライベートなものを色々入れてる
static

# 個人の定義設定
public/twitter/regist

# データベースの情報を入れるところ
data

# Change them to your taste:
package-lock.json
yarn.lock
pnpm-lock.yaml
bun.lockb

.env.local
.env.*.local

vite.config.ts.timestamp-*