$soft-color: #acc070;
$soft-color-fluo: #acc07020;
$high-color: #769714;
$high-hover: #aecc54;
$dark-high-color: #c1e654;
$dark-high-hover: #deff7b;
$high-color-fluo: #7697142c;
$high-sub-color: #b39321;
$disabled-color: #bbc5a4;
$disabled-color2: #a2ab8d;
$form-input-bg: #e9eae9;
$delete-color: #b46868;
$delete-hover: #a64444;
$background-color: #f1f6df;
$background-dark: #282a27;
$gray-color: #696c5f;
$gray-dark-mode: #bec1b5;

@import url("https://fonts.googleapis.com/css2?family=Kosugi+Maru&display=swap");
$font-KosugiMaru: "Kosugi Maru";

@mixin darkMode() {
  --background-color: #{$background-dark};
  --gray-color: #{$gray-dark-mode};
  scrollbar-color: $soft-color transparent;
  body,
  header {
    color: white;
    background-color: $background-dark;
  }
  .link,
  a:not(.button) {
    color: #879071;
    background-color: transparent;
  }
  .link,
  a:not(.button)[href] {
    color: $dark-high-color;
    &:hover {
      color: $dark-high-hover;
    }
  }
}

:root {
  scrollbar-width: thin;
  scrollbar-color: $soft-color transparent;
  --background-color: #{$background-color};
  --gray-color: #{$gray-color};
  body,
  header {
    color: black;
    background-color: $background-color;
  }
  .link,
  a:not(.button) {
    color: $disabled-color;
    background-color: transparent;
    svg {
      margin: 0;
    }
  }
  .link,
  a:not(.button)[href] {
    color: $high-color;
    &:hover {
      color: $high-hover;
    }
  }
  &.dark {
    @include darkMode();
  }
  &:not(.light):not(.dark) {
    @media (prefers-color-scheme: dark) {
      @include darkMode();
    }
  }
}

$mobileWidth: 520px;
$tabletWidth: 768px;
$desktopWidth: 1024px;

body {
  overflow-y: scroll;
  font: 1em $font-KosugiMaru, "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 1.25;
}

.simple body,
div.simple {
  padding: 2% 0% 0% 4%;
}

input,
textarea,
button,
select {
  font-family: sans-serif;
  line-height: 1.25;
}

[hidden] {
  display: none !important;
}

* {
  -webkit-tap-highlight-color: $high-color-fluo;
  &:not(button):focus {
    outline: solid 1px $soft-color;
  }
  &::selection {
    background-color: $high-color;
    color: white;
  }
}

body.view-modal-post {
  overscroll-behavior-y: none;
}

form.uploader {
  text-align: center;
  > * {
    margin: 0.25rem;
  }
  button {
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    border: none;
    color: white;
    background-color: #98b04f;
    cursor: pointer;
    &:hover {
      background-color: #aebe7b;
    }
    font-size: 1.2rem;
  }
  @media (min-width: $mobileWidth) {
    text-align: left;
  }
}
.viewer {
  ul {
    padding: 0;
    display: block;
    text-align: center;
    li {
      display: inline-block;
      width: 16rem;
      margin: 0.5rem;
      list-style: none;
      img {
        width: 100%;
      }
      .delete {
        cursor: pointer;
        border: none;
        background: none;
        font-size: medium;
        color: $delete-color;
        text-decoration-line: none;
        &:hover {
          color: $delete-hover;
          text-decoration-line: underline;
        }
      }
    }
  }
  .paging {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: auto;
    display: table;
    height: 2rem;
    background-color: var(--background-color);
    & > * {
      display: table-cell;
      vertical-align: middle;
    }
    .status {
      font-family: sans-serif;
      span {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
      }
    }
    font-size: 1.25rem;
    svg {
      width: 1.5rem;
      height: 1.5rem;
      margin: 0.5rem 0.75rem;
    }
  }
  @media (min-width: $mobileWidth) {
    ul {
      text-align: left;
      li {
        width: 20rem;
        text-align: center;
      }
    }
    .paging {
      svg {
        width: 2rem;
        height: 2rem;
        margin: 0.5rem 0.75rem;
      }
    }
  }
}

.alert-danger {
  color: rgb(228, 69, 69);
}

ul.links {
  padding: 0;
  margin-right: 3em;
  margin-bottom: 2em;
  li {
    display: block;
    font-size: 2em;
    line-height: normal;
    width: 90%;
    margin: 0 0 0.6em 1em;
  }
}

.row {
  display: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

button.topJump {
  &.working {
    visibility: visible;
  }
  &.hide {
    opacity: 0;
    pointer-events: none;
  }
  svg {
    height: 1.5rem;
    width: 1.5rem;
    margin: 0;
  }
  padding: 1rem;
  margin: 0.5rem 0.5rem 1.5rem 1.5rem;
  margin-bottom: 1.5rem;
  @media (min-width: $tabletWidth) {
    margin-left: 2rem;
  }
  opacity: 1;
  visibility: hidden;
  transition: 250ms;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  border: 0;
  border-radius: 100%;
  background: transparent;
  color: #aaaaaa;
  color: #aaaaaa99;
  &:hover {
    background-color: #{$soft-color-fluo} !important;
  }
}

button {
  cursor: pointer;
}

.hashtag {
  margin: auto 0.2rem;
}

button,
.button {
  display: inline-block;
  color: white;
  background-color: $high-color;
  border: none;
  margin: 0 0.1rem;
  padding: 0.1rem 0.3rem;
  border-radius: 0.1rem;
  font-size: 1rem;
  &:disabled {
    cursor: auto;
    background-color: $disabled-color2;
  }
  &:not(:disabled):hover {
    background-color: $high-hover;
  }
  svg {
    height: 1.25rem;
    width: 1.25rem;
    margin: 0;
  }
}

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  .box {
    margin: 0.25rem;
    width: 100%;
    max-width: 42rem;
    padding: 2rem 0;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--background-color);
  }
}

.mobileFold {
  .opener {
    display: none !important;
  }
  > .list {
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    margin-left: 0.5rem;
    > *,
    > button {
      margin-right: 0.25rem;
    }
  }
  @media (max-width: $tabletWidth) {
    .opener {
      display: inline-block !important;
    }
    > .list {
      display: none;
      position: absolute;
      padding: 0.25rem 0.25rem 0.25rem 0;
      &.wide {
        padding: 0.25rem 0.5rem;
        left: 0;
        right: 0;
      }
    }
    &.opened > .list {
      display: flex;
    }
  }
}

.pixel {
  image-rendering: pixelated;
}

.loadingWindow {
  background-color: var(--background);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  text-align: center;
  .loadingNow {
    color: var(--main-color);
    font-size: 1.5rem;
  }
  img {
    margin: 1rem;
    width: auto;
    height: 128;
  }
}

.logue {
  .modal {
    @media (max-aspect-ratio: 9/16) {
      align-items: flex-start;
      .box {
        margin-top: 10dvh;
      }
    }
  }
  header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    > .list {
      max-width: 60rem;
      margin: auto;
      display: flex;
      justify-content: space-between;
      > * {
        padding: 0.1rem;
      }
    }
  }
  .buttons {
    display: flex;
    align-items: center;
  }
  .under {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background-color: var(--background-color);
  }
  .search {
    text-align: right;
    > *,
    .list > * {
      margin-left: 0.1rem;
      display: inline-block;
      vertical-align: middle;
    }
    form.search {
      margin: 0;
      input[type="search"] {
        width: 9rem;
        border-radius: 0.4em;
        padding: 0.2em 0.4em;
        @media (prefers-color-scheme: dark) {
          background-color: $form-input-bg;
        }
        border: solid #999 0.1em;
      }
      button[type="submit"] {
        display: none;
      }
    }
    @media (min-width: $mobileWidth) {
      form.search input[type="search"] {
        width: 12rem;
      }
    }
  }
  .under form.post {
    align-items: flex-end;
    overflow: hidden;
    textarea {
      transition: 100ms;
    }
    &:focus,
    &:hover {
      height: 6rem;
      overflow: auto;
    }
  }

  button.post {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    border-radius: 2rem;
    margin: 0.5rem 1.5rem 1.5rem 0.5rem;
    padding: 0.25rem;
    svg {
      margin: 0.75rem;
      width: 1.5rem;
      height: 1.5rem;
    }
    @media (min-width: $tabletWidth) {
      margin-right: 2rem;
    }
  }

  form.post {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    @media (min-width: $mobileWidth) {
      flex-direction: row;
    }
    flex: 1;
    margin: 0 1rem;
    max-width: 36rem;
    > *,
    .list > * {
      margin-left: 0.1rem;
      display: inline-block;
      vertical-align: top;
    }
    input[type="file"],
    .up.list {
      display: none;
    }
    .buttons {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      @media (min-width: $mobileWidth) {
        flex-direction: column;
      }
    }
    button {
      border-radius: 0.25rem;
      svg {
        width: 1.25rem;
        height: 1.25rem;
        margin: 0.25rem;
      }
      &.modifier {
        color: $high-hover;
        background-color: transparent;
        &:hover {
          color: $high-color;
          background-color: $soft-color-fluo;
        }
      }
      &[type="submit"] {
        margin: 0.5rem 0.5rem 0;
        svg {
          width: 2rem;
          height: 1.75rem;
          margin: 0.3rem 0.5rem;
        }
      }
    }
    textarea,
    .preview-area {
      flex: 1;
      width: 100%;
      height: auto;
      min-height: 10rem;
      max-height: 80dvh;
      padding: 0.2rem 0.5rem;
      font-size: 1rem;
      border-radius: 0.25rem;
      overflow: auto;
    }
    .preview-area {
      border: $soft-color-fluo solid 1px;
    }
    textarea {
      resize: vertical;
      @media (prefers-color-scheme: dark) {
        background-color: $form-input-bg;
      }
    }
  }
  main.list {
    width: 100%;
    margin: 3rem auto 4rem;
    max-width: 42rem;
    box-sizing: border-box;
    word-break: break-word;
    text-align: left;
    display: flex;
    flex-direction: column;
    .item {
      padding: 0.25rem 1rem 1.25rem;
      &:focus {
        outline: none;
        background-color: $soft-color-fluo;
      }
      &.isEdit {
        outline: solid 2px $soft-color;
      }
      .icon {
        margin: 0.25rem;
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 100%;
      }
      .container {
        display: flex;
        .icon {
          margin-top: 1rem;
        }
        .body {
          flex: 1;
          padding: 0 1rem;
        }
      }
      .body {
        white-space: pre-line;
        img {
          max-width: 100%;
          max-height: 16em;
        }
      }
      .media {
        display: flex;
        flex-wrap: wrap;
        img,
        video {
          object-fit: cover;
          object-position: 50% 40%;
          max-height: 50vh;
          width: 100%;
        }
      }
      .info {
        text-align: right;
        > * {
          vertical-align: middle;
          &:not(button) {
            margin-right: 0.5rem;
          }
        }
        a {
          text-decoration-line: none;
          &:hover {
            text-decoration-line: underline;
          }
        }
        span.date {
          color: var(--gray-color);
        }
        button {
          background-color: transparent;
          svg {
            width: 1rem;
            height: 1rem;
          }
          &.delete {
            color: $delete-color;
            &:hover {
              color: $delete-hover;
            }
          }
          &.edit {
            display: inline;
            color: $high-color;
            &:hover {
              color: $high-hover;
            }
          }
        }
      }
    }
  }
}

.dm {
  @extend .logue;
}

.dropdown {
  position: relative;
  > button,
  > .button {
    padding: 0.25em 0.5em;
  }
  .list {
    position: absolute;
    background-color: var(--background-color);
    left: 0;
    z-index: 100;
    text-align: left;
    width: max-content;
    display: flex;
    flex-direction: column;
    :focus {
      outline: none;
      background-color: $soft-color;
    }
    & > *:nth-child(n) {
      padding: 0.25em 0.5em;
      cursor: pointer;
      &:hover {
        background-color: $soft-color;
      }
    }
  }
}

input.colorChanger.withDropdown {
  pointer-events: none;
  opacity: 0;
  position: absolute;
}

code {
  display: inline-block;
  background-color: #333430;
  color: white;
  border-radius: 16px;
  padding: 1em 1em;
  max-width: 92vw;
  overflow: auto;
  white-space: pre-wrap;
  box-sizing: border-box;
  width: 99%;
  min-width: unset;
  &.hljs {
    .hljs-string {
      color: $soft-color;
    }
    .hljs-comment {
      color: $gray-color;
    }
    .hljs-title,
    .hljs-keyword {
      color: $soft-color;
    }
    .hljs-selector-class {
      color: $high-sub-color;
    }
    .hljs-variable,
    .hljs-number {
      color: $soft-color;
    }
    .hljs-selector-pseudo {
      color: $soft-color;
    }
    &.language-css,
    &.language-scss {
      .hljs-attribute {
        color: $high-sub-color;
      }
    }
  }
}
