$high-color: #769714;
$high-hover: #aecc54;
$dark-high-color: #c1e654;
$dark-high-hover: #deff7b;
$high-color-fluo: #76971475;
$disabled-color: #bbc5a4;
$disabled-color2: #a2ab8d;
:root {
  scrollbar-width: thin;
  scrollbar-color: $high-hover transparent;
  body,
  .paging,
  .search {
    color: black;
    background-color: white;
  }
  a {
    color: $disabled-color;
  }
  a[href] {
    color: $high-color;
    &:hover {
      color: $high-hover;
    }
  }
  @media (prefers-color-scheme: dark) {
    scrollbar-color: $dark-high-color transparent;
    body,
    .paging,
    .search {
      color: white;
      background-color: #353535;
    }
    a {
      color: #879071;
    }
    a[href] {
      color: $dark-high-color;
      &:hover {
        color: $dark-high-hover;
      }
    }
  }
}

$mobileWidth: 768px;
$tabletWidth: 1024px;

body {
  padding: 2% 0% 0% 4%;
  margin-bottom: 3rem;
  overflow-y: scroll;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

* {
  -webkit-tap-highlight-color: $high-color-fluo;
  & ::selection {
    background-color: $high-color;
    color: white;
  }
}

form.uploader {
  text-align: center;
  > * {
    margin: 0.25rem;
  }
  button {
    padding: 0.25rem 0.5rem;
    border-radius: 0.5rem;
    border: none;
    color: white;
    background-color: #98b04f;
    cursor: pointer;
    &:hover {
      background-color: #aebe7b;
    }
    font-size: 1.2rem;
  }
  @media (min-width: $mobileWidth) {
    text-align: left;
  }
}
.viewer {
  ul {
    padding: 0;
    display: block;
    text-align: center;
    li {
      display: inline-block;
      width: 16rem;
      margin: 0.5rem;
      list-style: none;
      img {
        width: 100%;
      }
      .delete {
        cursor: pointer;
        border: none;
        background: none;
        font-size: medium;
        color: #b46868;
        text-decoration-line: none;
        &:hover {
          color: #a64444;
          text-decoration-line: underline;
        }
      }
    }
  }
  .paging {
    position: fixed;
    bottom: 0;
    right: 0;
    margin: auto;
    display: table;
    height: 2rem;
    & > * {
      display: table-cell;
      vertical-align: middle;
    }
    .status {
      font-family: sans-serif;
      span {
        margin-left: 0.25rem;
        margin-right: 0.25rem;
      }
    }
    font-size: 1.25rem;
    svg {
      width: 1.5rem;
      height: 1.5rem;
      margin: 0.5rem 0.75rem;
    }
  }
  @media (min-width: $mobileWidth) {
    ul {
      text-align: left;
      li {
        width: 20rem;
        text-align: center;
      }
    }
    .paging {
      svg {
        width: 2rem;
        height: 2rem;
        margin: 0.5rem 0.75rem;
      }
    }
  }
}

.alert-danger {
  color: rgb(228, 69, 69);
}

ul.links {
  padding: 0;
  margin-right: 3em;
  li {
    display: block;
    font-size: 2em;
    width: 90%;
    margin: 0 0 0.6em 1em;
  }
}

.row {
  display: flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.topJump {
  &.hide {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  opacity: 1;
  transition: 250ms;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 0;
  border: 0;
  background: transparent;
  margin: 1rem;
  padding: 0;
  font-size: 2rem;
  color: #aaaaaa;
  color: #aaaaaa99;
}

button {
  cursor: pointer;
}

.hashtag {
  margin: auto 0.2rem;
}

.bbs {
  .search {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: right;
    padding: 0.1rem 0;
    > *,
    .list > * {
      margin-left: 0.1rem;
      display: inline-block;
      vertical-align: middle;
    }
    form {
      margin: 0;
      input[type="search"] {
        width: 9rem;
        opacity: 0.7;
        border-radius: 0.4em;
        padding: 0.2em 0.4em;
        border: solid #999 0.1em;
        border: solid #9996 0.1em;
        transition: 80ms;
        @media (min-width: $mobileWidth) {
          width: 12rem;
        }
      }
      button {
        display: none;
      }
    }
    .paging {
      button {
        color: white;
        background-color: $high-color;
        border: none;
        margin: 0 0.1rem;
        border-radius: 0.1rem;
        height: 1.5rem;
        &:disabled {
          cursor: auto;
          background-color: $disabled-color2;
        }
        &:not(:disabled):hover {
          background-color: $high-hover;
        }
        svg {
          height: 1.2rem;
          width: 1.2rem;
        }
      }
    }
  }
  .threadList {
    > * {
      margin-right: 0.1rem;
    }
  }
  .thread {
    width: 100%;
    margin: 1rem auto 1rem;
    max-width: 42rem;
    box-sizing: border-box;
    word-break: break-word;
    text-align: left;
    .item {
      padding: 1.5rem 1rem 0.1rem;
      .body {
        white-space: pre-line;
        img {
          max-width: 100%;
          max-height: 16em;
        }
      }
      .info {
        text-align: right;
        a {
          text-decoration-line: none;
          &:hover {
            text-decoration-line: underline;
          }
        }
      }
    }
  }
}
